.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center; /* Center align children horizontally */
}

.label {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
}

.input {
  margin-bottom: 20px;
  padding: 10px 40px;
  margin-top: 15px;
  border-radius: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.button:hover {
  background-color: #0056b3;
}
